<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--数据库连接串（MYSQL 5.7）-->
    <add key="mysqlConn" value="********************" />
    <!--待监测网站的完整URL-->
    <add key="website_URL" value="https://www.baidu.com/" />
    <!--检测时间单位为（秒）-->
    <add key="check_interval" value="10" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>